<div id="login-container" class="container" style="margin-top: 100px;">
  <div class="col-xs-4 col-xs-offset-4">
    <a id="link-btn"><i class="fa fa-key" style="font-size: 72px;"></i></a> 
  </div>
</div>