<div class="container" id="transactions-wrapper">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center"><h2>Date</h2></th>
        <th class="text-center"><h2>Time</h2></th>
        <th class="text-center"><h2>Amount</h2></th>
        <th class="text-center"><h2>Category</h2></th>
      </tr>
    </thead>
    <tbody id="transaction-data">
    </tbody>
  </table>        
</div>