<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Plaid Walkthrough Example</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/sidebar.css">
<link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
  
* {font-family: Open Sans, sans-serif !important;}

nav {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  background: white;
}

#super-nav {
  border-radius: 0 !important;
  background: #126bc5;
}
  .navbar-brand {
    color: white !important;
  }
  #top-nav-links > li > a {
    color: white !important;
  }

#sub-nav {}
  .fa-bars {
    color: #126bc5;
  }

#sidebar-wrapper {
  background: #126bc5;
  color: white;
}
</style>

</head>
<body>

  <!-- NAVIGATION WRAPPER -->
  <div id="dual-nav-wrapper">
    <nav id="super-nav" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Cash or Credit</a>
        </div>
        <ul id="top-nav-links" class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </nav>
    <nav id="sub-nav" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">
            <a id="menu-toggle" href="#menu-toggle">
              <i class="fa fa-bars fa-lg"></i>
            </a>
          </div>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Expenses</a></li>
          <li><a href="#">Goals</a></li>
          <li><a href="#">Budget</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- CONTENT WRAPPER -->
  <div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <!-- <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li> -->
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
    <div id="page-content-wrapper">
      <div class="container">
        <div class="row">
          <button id="link-btn">Link Account</button>
        </div>
        <div class="row">
          <div class="box">
            <button id="get-accounts-btn">Get Accounts</button>
            <div id="get-accounts-data"></div>
          </div>

          <div class="box">
            <button id="get-item-btn">Get Item</button>
            <div id="get-item-data"></div>
          </div>

          <div class="box">
            <button id="get-transactions-btn">Get Transactions</button>
            <div id="get-transactions-data"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/fontawesome-all.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function () { 

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $('#link-btn').on('click', function(e) {
      handler.open();
    });

    $('#get-accounts-btn').on('click', function(e) {
      $.get('/accounts', function(data) {
        if (data.error) {
          console.log(data.error);
        } else {
          console.log('accounts'+data);
        }
      });
     });

    $('#get-item-btn').on('click', function(e) {
      $.post('/item', function(data) {
        if (data.error) {
          console.log(data.error);
        } else {
          console.log(data);
        }
      });
    });

    $('#get-transactions-btn').on('click', function(e) {
      $.post('/transactions', function(data) {
        if (data.error) {
          console.log(data.error);
        } else {
          console.log(data);
        }
      });
    });
    var handler = Plaid.create({
      apiVersion: 'v2',
      clientName: 'Plaid Walkthrough Demo',
      env: '<%= PLAID_ENV %>',
      product: ['transactions'],
      key: '<%= PLAID_PUBLIC_KEY %>',
      onSuccess: function(public_token) {
        $.post('/get_access_token', {
          public_token: public_token
        }, function() {
          $('#container').fadeOut('fast', function() {
            $('#intro').hide();
            $('#app, #steps').fadeIn('slow');
          });
        });
      },
    });

  });
  </script>
</body>
</html>
